.contactoCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, max-content));
  gap: 1rem;
}

.contactoCard {
  border: 1px solid transparent;
  padding: 0.8rem;
  border-radius: var(--border-radius);
  transition: all var(--transition-time) ease;
}

.contactoCard:hover {
  border: 1px solid var(--main-blue);
}

.contactoCard h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

.contactoCard .cardHeader {
  margin-bottom: 0.5rem;
}

.contactoCard .detalleBody p {
  margin-bottom: 0;
}
