#deleteModal .viewportModalContent .deleteMessage {
  text-align: justify;
  padding: 1rem 1.5rem;
  background-color: #f7e1d2;
  border-left: 3px solid #f85c2d;
  color: #f85c2d;
  margin: 1.5rem 0;
}

#deleteModal .viewportModalContent .deleteMessage p:first-child {
  margin-bottom: 0.75rem;
  font-weight: bold;
}
