/* DETAILS */
.detailView > .card {
  margin-bottom: 1rem;
}

.smallSubtitle {
  color: var(--gray-500);
  font-size: 14px;
  margin-bottom: 0;
  font-weight: bold;
}

.detalleHeader h1 {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.detalleBody {
  display: flex;
  flex-wrap: wrap;
}
.detalleBody div {
  margin-right: 4rem;
}
.detalleBody p {
  margin-bottom: 0;
}

.detalleBody div:last-child {
  margin-right: 0;
}

.productDescBox {
  margin-top: 0.8rem;
}

.detailsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* RELATIONS */
.relationsDetails {
  margin-right: 1rem;
  width: calc(65% - 1rem);
  padding: 1rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border-radius: 0.3rem;
}

.relationsDetails .card {
  box-shadow: none;
  border: 1px solid var(--gray-200);
  margin-bottom: 1rem;
}

.relationsDetails > .card:last-child {
  margin-bottom: 0;
}

.relationTitle {
  font-weight: bold;
  letter-spacing: 1px;
}

/* ASIDE */
.asideDetails {
  width: 35%;
}
