/* MAIN */
.detailView .box {
  margin-right: 15px;
}

.detailView .detailTitleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.detailView .detailTitleBox > div:last-child {
  align-self: flex-start;
}

/* CONTACT */
.detailView .box .contactList {
  display: flex;
  flex-direction: column;
}

.detailView .box .contactList h2 {
  font-size: 15px;
}

.detailView .box .contactList button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0.7rem 1.1rem;
  transition: all var(--transition-time) ease;
  border-radius: var(--border-radius);
}

.detailView .box .contactList button div:first-child {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.detailView .box .contactList button:last-child {
  border-bottom: none;
}

.detailView .box .contactList button:hover {
  background: var(--glass-purple);
}

.detailView .box .contactList button svg {
  transition: all var(--transition-time) ease;
}

.detailView .box .contactList button:hover svg {
  color: var(--main-purple);
}

.detailView .box .contactList > button p {
  font-size: 12px;
  text-align: end;
}

.detailView .box .contactList button svg {
  margin-right: 0.5rem;
  color: var(--text-gray);
}

/* CONTACT - HISTORY */
.detailView .contactoHistBox {
  display: flex;
  flex-wrap: wrap;
}

.detailView .contactoHistBox div:first-child {
  flex-grow: 1;
}

.detailView .contactoHistBox div:last-child {
  flex-grow: 10;
}

/* DETAILS WITHOUT CONTACT */
.detailView .detailsContent > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: var(--border-radius);
  transition: all var(--transition-time) ease;
}

.detailView .detailsContent p {
  margin-bottom: 0;
}

.detailView .detailsContent p:first-child {
  margin-right: 2rem;
}

.detailView .detailsContent p:last-child {
  text-align: end;
}

.detailView .contactoHistBox .productDescBox {
  display: inline-block;
}

/* DETAIL ACCORDION */
.detailView .detailAccordion {
  padding-right: 15px;
}

.detailView .detailAccordion > div,
.detailView .detailAccordion > form div {
  box-shadow: none;
  background-color: transparent;
}

.detailView .detailAccordion h2 {
  font-size: 17px;
  display: flex;
  align-items: center;
}
