/* MAIN */
.detailView .emptyButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* CONTACT */
.detailView .box .contactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.detailView .box .contactList button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0.7rem 1.1rem;
  -webkit-transition: all var(--transition-time) ease;
  -o-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  border-radius: var(--border-radius);
}

.detailView .box .contactList button div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3rem;
}

.detailView .box .contactList button:last-child {
  border-bottom: none;
}

.detailView .box .contactList button:hover {
  background: var(--glass-purple);
}

.detailView .box .contactList button svg {
  -webkit-transition: all var(--transition-time) ease;
  -o-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
}

.detailView .box .contactList button:hover svg {
  color: var(--main-purple);
}

.detailView .box .contactList > button p {
  font-size: 12px;
  text-align: end;
}

.detailView .box .contactList button svg {
  margin-right: 0.5rem;
  color: var(--text-gray);
}

/* CONTACT - HISTORY */
.detailView .contactoHistBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.detailView .contactoHistBox div:first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.detailView .contactoHistBox div:last-child {
  -webkit-box-flex: 10;
  -ms-flex-positive: 10;
  flex-grow: 10;
}

/* DATOS */
.detailView .detailsBox table {
  width: 100%;
}

.detailView .detailsBox table tr {
  font-size: 13.5px;
  border-bottom: 1px solid var(--border-gray);
}

.detailView .detailsBox table tr:nth-child(odd) {
  background-color: var(--table-gray);
}

.detailView .detailsBox table tr:hover {
  background-color: var(--hover-gray);
}

.detailView .detailsBox table tr th {
  color: var(--main-dark);
}

.detailView .detailsBox table tr td,
.detailView .detailsBox table tr th {
  padding: 0.1rem 0.3rem;
}

.detailView .detailsBox table tr td:last-child {
  padding-right: 15px;
}
.detailView .detailsBox table tr th:first-child {
  padding-left: 15px;
}

.detailView .detailsBox table tr:last-child {
  border-bottom: none;
}

.detailView .detailsBox .noteBox {
  padding: 15px;
  padding-bottom: 0;
}

.detailView .detailsBox .noteBox p:not(.gray) {
  margin: 0;
  font-size: 15px;
}

.detailView .box.tableBox section h2 {
  padding: 0 15px;
}

.detailView .box.tableBox {
  padding: 15px 0;
}

/* DETAIL ACCORDION */
.detailView .detailAccordion {
  padding-right: 15px;
}

.detailView .detailAccordion > div,
.detailView .detailAccordion > form div {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.detailView .detailAccordion h2 {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detailView .detailAccordion .editorButtonBox {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detailView .detailAccordion .editorButtonBox div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 1rem;
}

.detailView .detailAccordion .addButtonBox button,
.detailView .detailAccordion .otherSiteBox button {
  padding: 0 !important;
  width: 40px;
  height: 40px;
}

.detailView .detailAccordion .otherSiteBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.detailView .detailAccordion .otherSiteBox div:first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.detailView .detailAccordion .Mui-expanded .accordionTitle {
  color: var(--main-blue);
}

.detailView .detailAccordion .direccionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.detailView .detailAccordion .direccionTitle button {
  padding: 8px !important;
}
