.viewportModal {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity var(--transition-time) ease;
  -o-transition: opacity var(--transition-time) ease;
  transition: opacity var(--transition-time) ease;
}

.viewportModal.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.viewportModal .viewportModalContent {
  background: #fefefe;
  border-radius: 0.5rem;
  width: 800px;
  padding: 2rem 3rem;
  padding-right: 0;
  text-align: center;
  position: relative;
  border-radius: var(--border-radius);
}

.viewportModal .viewportModalContent > div:nth-child(2) {
  padding-right: 3rem;
}

.viewportModal .viewportModalContent form > div:first-child {
  max-height: calc(90vh - 4rem - 100px);
  padding-top: 5px;
  padding-right: 3rem;
  overflow-y: auto;
}

.viewportModalContent .title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 1rem;
}

.viewportModal form h2 {
  font-size: 1rem;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 10px;
}

.closeTimesBtnBox {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.closeTimesBtn {
  color: var(--gray-600);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all var(--transition-time) ease;
  -o-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  width: 35px;
  height: 35px;
  font-size: 1rem;
}

.closeTimesBtn:hover {
  background-color: rgba(0, 0, 0, 0.09);
  color: var(--gray-700);
}

.buttonRight {
  text-align: end;
  margin-top: 1rem;
  margin-right: 3rem;
}

.upFormInputsBox {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputText {
  text-align: left;
}

.smallFlag {
  margin-right: 0.3rem;
}

.phoneInputBox {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.phoneInputBox > .inputText {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.phoneInputBox .selectCountryCode {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.viewportModalContent .deleteMessage {
  text-align: justify;
  padding: 1rem 1.5rem;
  background-color: #f7e1d2;
  border-left: 3px solid #f85c2d;
  color: #f85c2d;
  margin: 1.5rem 0;
  margin-right: 3rem;
}

.viewportModalContent .deleteMessage p:first-child {
  margin-bottom: 0.75rem;
  font-weight: bold;
}

.dragBox .viewportModalContent {
  padding-right: 3rem;
}

.dragBox .buttonRight {
  margin-right: 0;
}
