table td,
table th {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableContainer {
  overflow: auto;
  height: calc(100vh - 166px - 2rem);
  border-bottom: 1px solid var(--gray-100);
}

thead th {
  font-weight: bold !important;
  position: sticky;
  top: 0;
  z-index: 998;
  background: #fefefe;
}

.MuiToolbar-root {
  min-height: 50px;
}

.MuiPaper-root {
  box-shadow: var(--box-shadow);
  margin-bottom: 0 !important;
}

.rowSpan {
  color: var(--gray-300);
  cursor: default;
}

.mainTableBox {
  max-height: calc(100vh - 50px - 2rem);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--box-shadow) !important;
}

.mainTableBox .tableTitle {
  position: sticky;
  top: 0;
  background: #fefefe;
  z-index: 2;
}

.mainTableBox .tablePagination {
  position: sticky;
  bottom: 0;
  background: #fefefe;
  z-index: 2;
}

tbody th a {
  text-decoration: none;
  font-weight: bold;
  color: var(--blue-700);
}
tbody th a:hover {
  text-decoration: underline;
}

.mainTableBox .redIconBtn {
  margin-right: 1rem;
}
