table td,
table th {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tableContainer {
  overflow: auto;
  height: calc(100vh - 166px - 1rem);
  border-bottom: 1px solid var(--gray-100);
}

thead th {
  font-weight: bold !important;
  position: sticky;
  top: 0;
  z-index: 998;
  background: #fefefe;
}

.mainTableBox {
  max-height: calc(100vh - 50px - 1rem);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background-color: #fff;
}

.mainTableBox .tableTitle {
  position: sticky;
  font-size: 1.5rem;
  top: 0;
  z-index: 2;
}

.mainTableBox .tablePagination {
  position: sticky;
  bottom: 0;
  background: #fefefe;
  z-index: 2;
}

tbody th a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-blue);
}
tbody th a:hover {
  text-decoration: underline;
  color: var(--main-blue);
}

.mainTableBox .redIconBtn {
  margin-right: 1rem;
}

.mainTableBox .cellIcons {
  padding: 0 !important;
  padding-right: 0.5rem !important;
  text-align: end;
}
.mainTableBox .cellIcons button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.mainTableBox .cellIcons button:first-child {
  margin-left: 0;
}

.mainTableBox .cellIcons button .crudIcon {
  color: var(--gray-200);
  transition: all var(--transition-time) ease;
}
.mainTableBox .cellIcons button:hover .crudIcon.editIcon {
  color: var(--main-orange);
}
.mainTableBox .cellIcons button:hover .crudIcon.deleteIcon {
  color: var(--red-300);
}

.paginationBox {
  position: relative;
}
.tablefooterBtn {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
