#sidebar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--topbar-height) - 10px);
  position: sticky;
  top: calc(var(--topbar-height) + 10px);
  z-index: 998;
  overflow: auto;
}

#sidebar .menuSection {
  margin: 1rem;
  border-bottom: 1px solid var(--text-light);
  padding: 0.4rem 0;
}

#sidebar .menuSection:last-child {
  border-bottom: none;
}

#sidebar .menuSection:first-child {
  margin-top: calc(1rem - 10px);
}

#sidebar .menuSection:first-child p {
  font-size: 1.5rem;
  color: var(--main-dark);
  font-weight: bold;
  margin-bottom: 0;
  cursor: default;
}

#sidebar .menuSection h3 {
  color: var(--main-dark);
  font-size: 14px;
  font-weight: 500;
  margin-left: 0.4rem;
}

#sidebar .menuSection ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0;
}

#sidebar .menuSection ul li a {
  color: var(--text-gray);
  padding: 0.7rem 1.1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: all var(--transition-time) ease;
  -o-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  text-decoration: none;
  margin: 8px 0;
}

#sidebar .menuSection ul li a:hover {
  background: var(--background-blue);
  color: var(--main-blue) !important;
}

#sidebar .active {
  background: var(--background-blue);
  color: var(--main-blue) !important;
}

#sidebar .menuSection ul li a span {
  margin-left: 0.7rem;
}

/* TEMPORAL --------------------------------------------------- */
#sidebar button {
  color: var(--text-gray);
  padding: 0.7rem 1.1rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--border-radius);
  -webkit-transition: all var(--transition-time) ease;
  -o-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  text-decoration: none;
  margin: 8px 0;
  width: 100%;
  border: none;
  background: none;
}

#sidebar button:hover {
  background: var(--background-blue);
  color: var(--main-blue) !important;
}

#sidebar .menuSection ul li button span {
  margin-left: 0.7rem;
}
