#topbar {
  height: 50px;
  padding: 0 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 998;
  box-shadow: var(--box-shadow);
  background: #fefefe;
}

#topbar .iconBox {
  display: flex;
  justify-content: space-between;
}

#topbar .iconBox .iconBtn {
  margin: 0 5px;
}
