#topbar .topleft {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue-600);
}

#topbar {
  height: 50px;
  padding: 0 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 3px solid var(--blue-700);
  background-color: #fefefe;
}

#topbar .iconBox {
  display: flex;
  justify-content: space-between;
}

#topbar .iconBox .icon {
  color: var(--gray-600);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all var(--transition-time) ease;
  margin: 0 5px;
}

#topbar .iconBox .icon:hover {
  background-color: var(--gray-100);
  color: var(--gray-700);
}
