#topbar {
  height: var(--topbar-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 998;
  background: #fff;
  margin-bottom: 10px;
}

#topbar .topLeft {
  display: flex;
  width: var(--sidebar-width);
}

#topbar p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-dark);
  margin-bottom: 0;
  margin-left: 1rem;
}

#topbar .iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 1rem;
}

#topbar .iconBtn {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: var(--border-radius) !important;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#topbar .iconBtn:hover {
  -webkit-box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 1px rgb(0, 0, 0, 0.1);
}

#topbar .iconBtn.profile {
  color: var(--main-blue);
  background-color: var(--glass-blue);
}
#topbar .iconBtn.profile:hover {
  background-color: var(--glass-blue-2);
}

#topbar .iconBtn.settings {
  color: var(--main-orange);
  background-color: var(--glass-orange);
}
#topbar .iconBtn.settings:hover {
  background-color: var(--glass-orange-2);
}

#topbar .iconBtn.notifications {
  color: var(--main-purple);
  background-color: var(--glass-purple);
}
#topbar .iconBtn.notifications:hover {
  background-color: var(--glass-purple-2);
}
