/* VARIABLES */
:root {
  --main-dark: #111827;
  --main-green: #00a753;
  --main-purple: #5e35b1;
  --main-blue: #0260ad;
  --main-red: #e50000;
  --main-orange: #ff8400;

  --second-dark: #3e464f;
  --second-green: #15854d;
  --second-purple: #6e7ad8;
  --second-blue: #045496;
  --second-red: #bd0000;
  --second-orange: #db7100;

  --third-blue: #2196f3;

  --glass-red: rgba(229, 0, 0, 0.2);
  --glass-purple: rgba(94, 53, 177, 0.12);
  --glass-blue: rgb(2, 96, 173, 0.1);
  --glass-green: rgba(0, 167, 83, 0.15);
  --glass-orange: rgba(255, 132, 0, 0.15);

  --text-light: #e2e6ec;
  --text-gray: #767c8b;
  --text-blue: #2196f3;

  --background-blue: #ebf7ff;

  --red-100: #ff6666;
  --red-200: #ff4c4c;
  --red-300: #ff3232;
  --red-400: #ff1919;
  --red-500: #ff0000;
  --red-600: #e50000;
  --red-700: #cc0000;
  --red-800: #b20000;
  --red-900: #990000;
  --red-1000: #7f0000;
  --gray-100: #e5e5e5;
  --gray-200: #cccccc;
  --gray-300: #b2b2b2;
  --gray-400: #999999;
  --gray-500: #7f7f7f;
  --gray-600: #666666;
  --gray-700: #4c4c4c;
  --gray-800: #323232;
  --gray-900: #191919;
  --blue-100: #94c2e5;
  --blue-200: #7eb6e0;
  --blue-300: #69aadb;
  --blue-400: #539ed6;
  --blue-500: #3e92d1;
  --blue-600: #2986cc;
  --blue-700: #2478b7;
  --blue-800: #206ba3;
  --blue-900: #1c5d8e;
  --blue-1000: #18507a;

  --transition-time: 0.3s;
  --box-shadow: 0px 1px 5px 1px rgb(0, 0, 0, 0.15);
  --sidebar-width: 245px;
  --topbar-height: 60px;
  --border-radius: 0.6rem;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* MAIN STYLES */
*:not(.editorMain span) {
  font-family: "Roboto", sans-serif !important;
  box-sizing: border-box !important;
}

.mainContainer {
  display: flex;
}

main {
  width: calc(100% - var(--sidebar-width));
  position: relative;
  padding: 1rem;
  padding-top: 0;
}

main.fullWindow {
  width: 100vw;
  height: 100vh;
}

.viewContainer {
  background-color: var(--glass-blue);
  padding-top: 20px;
  padding-left: 20px;
  overflow: hidden;
  border-radius: var(--border-radius);
  min-height: 100%;
}

.box section {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-light);
  margin-bottom: 1rem;
}

/* ICON BUTTONS */
.iconBtn,
.redIconBtn,
.orangeIconBtn,
.blueIconBtn,
.greenIconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1rem;
  transition: all var(--transition-time) ease;
}

.iconBtn {
  color: var(--gray-600);
  border-radius: 50%;
  background-color: transparent;
}
.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.09);
  color: var(--gray-700);
}

.redIconBtn,
.orangeIconBtn,
.blueIconBtn,
.greenIconBtn {
  border-radius: 0.35rem;
  opacity: 1;
}

.redIconBtn {
  color: var(--main-red);
  background: var(--glass-red);
  opacity: 0.7;
}
.redIconBtn:hover {
  opacity: 1;
}

/* BUTTONS */
.blueBtn,
.redBtn,
.orangeBtn,
.greenBtn {
  margin-left: 0.7rem;
  padding: 4px 1rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fefefe;
  transition: all var(--transition-time) ease;
}

.blueBtn {
  background-color: var(--main-blue);
}
.blueBtn:hover {
  background-color: var(--second-blue);
}

.redBtn {
  background-color: var(--main-red);
}
.redBtn:hover {
  background-color: var(--second-red);
}

.orangeBtn {
  background-color: var(--main-orange);
}
.orangeBtn:hover {
  background-color: var(--second-orange);
}

.greenBtn {
  background-color: var(--main-green);
}
.greenBtn:hover {
  background-color: var(--second-green);
}

/* MATERIAL UI CLASSES */
input[type="text"],
input[type="password"] {
  height: 40px;
}

.MuiTablePagination-toolbar p {
  margin-bottom: 0 !important;
}

.MuiAutocomplete-inputRoot {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* BOXES */
.box {
  background: #fff;
  border-radius: var(--border-radius);
  padding: 1rem;
  border: 1px solid rgba(156, 210, 255, 0.46);
  margin-bottom: 20px;
}

.box h1,
.box h2 {
  margin-bottom: 0;
  font-size: 16px;
}

.box h2.title {
  font-size: 18px;
}

/* TEXT */
.greenFilled,
.orangeFilled {
  padding: 0 8px;
  border-radius: 100px;
}

.greenFilled {
  color: var(--main-green);
  background: var(--glass-green);
}

.orangeFilled {
  color: var(--main-orange);
  background: var(--glass-orange);
}

.gray {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--text-gray);
}
