/* VARIABLES */
:root {
  --red-100: #ff6666;
  --red-200: #ff4c4c;
  --red-300: #ff3232;
  --red-400: #ff1919;
  --red-500: #ff0000;
  --red-600: #e50000;
  --red-700: #cc0000;
  --red-800: #b20000;
  --red-900: #990000;
  --red-1000: #7f0000;
  --gray-100: #e5e5e5;
  --gray-200: #cccccc;
  --gray-300: #b2b2b2;
  --gray-400: #999999;
  --gray-500: #7f7f7f;
  --gray-600: #666666;
  --gray-700: #4c4c4c;
  --gray-800: #323232;
  --gray-900: #191919;
  --gray-1000: #000000;
  --blue-100: #94c2e5;
  --blue-200: #7eb6e0;
  --blue-300: #69aadb;
  --blue-400: #539ed6;
  --blue-500: #3e92d1;
  --blue-600: #2986cc;
  --blue-700: #2478b7;
  --blue-800: #206ba3;
  --blue-900: #1c5d8e;
  --blue-1000: #18507a;
  --orange-500: #ff8400;
  --orange-700: #db7100;
  --green-500: #80b615;
  --green-700: #6ba000;

  --transition-time: 0.3s;

  --box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.14),
    0px 1px 4px 1px rgb(0, 0, 0, 0.2);

  --sidebar-width: 250px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* MAIN STYLES */
* {
  font-family: "Source Sans Pro", sans-serif !important;
  box-sizing: border-box !important;
  margin: 0;
}

.mainContainer {
  display: flex;
}

main {
  position: relative;
  padding: 1rem;
  width: calc(100% - var(--sidebar-width));
  overflow: hidden;
}

.card {
  box-shadow: var(--box-shadow);
  border: none;
}

/* ICON BUTTONS */
.iconBtn,
.redIconBtn,
.orangeIconBtn,
.blueIconBtn,
.greenIconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  transition: all var(--transition-time) ease;
}

.iconBtn {
  color: var(--gray-600);
  border-radius: 50%;
  background-color: transparent;
}
.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.09);
  color: var(--gray-700);
}

.redIconBtn,
.orangeIconBtn,
.blueIconBtn,
.greenIconBtn {
  color: #fefefe;
  border-radius: 0.35rem;
  opacity: 1;
}

.redIconBtn {
  background: linear-gradient(0deg, var(--red-600), var(--red-700));
}
.redIconBtn:hover {
  opacity: 0.75;
}

.cellIcons {
  padding: 0 !important;
  padding-right: 0.5rem !important;
  text-align: end;
}
.cellIcons button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.cellIcons button:first-child {
  margin-left: 0;
}

.cellIcons button .crudIcon {
  color: var(--gray-200);
  transition: all var(--transition-time) ease;
}
.cellIcons button:hover .crudIcon.editIcon {
  color: var(--orange-500);
}
.cellIcons button:hover .crudIcon.deleteIcon {
  color: var(--red-300);
}

/* BUTTONS */
.blueBtn,
.redBtn,
.orangeBtn,
.greenBtn {
  margin-left: 0.7rem;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fefefe;
  transition: all var(--transition-time) ease;
}

.blueBtn {
  background-color: var(--blue-600);
}
.blueBtn:hover {
  background-color: var(--blue-800);
}

.redBtn {
  background-color: var(--red-600);
}
.redBtn:hover {
  background-color: var(--red-800);
}

.orangeBtn {
  background-color: var(--orange-500);
}
.orangeBtn:hover {
  background-color: var(--orange-700);
}

.greenBtn {
  background-color: var(--green-500);
}
.greenBtn:hover {
  background-color: var(--green-700);
}

.paginationBox {
  position: relative;
}
.tablefooterBtn {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1rem;
}

/* MATERIAL UI CLASSES */
.MuiOutlinedInput-input {
  height: 40px;
}

.MuiTablePagination-toolbar p {
  margin-bottom: 0 !important;
}
